body {
    margin: 0;
    padding: 0;
    color: yellow;

}

.bg {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.bg video{
    position:fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.bg .content{
    position: relative;
    margin: 0 auto;

}

.random {
    background-color: yellow;
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.choice {
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: aqua;
}

